
<form class="form" method="post" action="/account/login">
    <label>Username <input type="text" name="account_email" required></label>
    <label>Password <input type="password" name="account_password" required></label>
    <label><input type="submit" id="LOGIN" value="LOGIN"></label>
</form>
<p>No account? <a href="/account/register">Sign-up</a></p>