
<h1>Cody Smith</h1>
<%- messages() %>
<div class="car-details">
    <h2 class="bold">Aerocar</h2>
    <p>1 Throttle stick</p>
    <p>Grade A fuel</p>
    <p>Can really fly</p>
    <img class="own-today" src="/images/site/own_today.png" alt="own today button">
</div>
<!-- <source srcset="/images/vehicles/aerocar.jpg" media="(max-width: 400px)"> -->
<img class="float" src="/images/vehicles/aerocar.jpg" alt="airplane vehicle">
<div class="tables">
    <h1 class="reviews-table">Aerocar Reviews</h1>
    <ul class="reviews-table-li">
        <li>"Wings on wheels. Can you say runway ready?" (5/5)</li>
        <li>"I got there and back likity split. I love the aerocar." (5/5)</li>
        <li>"This helped me get my pilots license...in nautical fun!" (5/5)</li>
        <li>"This is your captain saying you'll fly in this vehicle." (5/5)</li>
    </ul>
    <h1 class="upgrades-table">Aerocar Upgrades</h1>
        <div class="upgrades1">
            <img src="/images/upgrades/bumper_sticker.jpg" alt="a bumper sticker">
            <a href="/">Bumper Stickers</a>
        </div>
        <div class="upgrades2">
            <img src="/images/upgrades/flux-cap.png" alt="a flux capacitor">
            <a href="/">Flux Capacitor</a>
        </div>
        <div class="upgrades3">
            <img src="/images/upgrades/flame.jpg" alt="a picture of a flame">
            <a href="/">Flame Decals</a>
        </div>
        <div class="upgrades4">
            <img src="/images/upgrades/hub-cap.jpg" alt="a hub cap">
            <a href="/">Hub Caps</a>
        </div>
</div>
