@media screen and (min-width: 48rem) {
    body {
        background-image: url('/images/site/checkerboard.jpg');
    }

    #wrapper {
        background-color: white;
        border-style: solid;
        border-width: 15px;
        border-color: rgb(128, 190, 211);
        border-radius: 50px;
        margin: 25px 100px;
        padding: 25px;
    }

    .tables{
        display: grid;
        grid-template-columns: 1fr 1fr 2fr;
        grid-template-rows: auto 1fr 1fr;
    }

    .reviews-table {
        grid-column: 3/4;
        grid-row: 1/2;
        text-align: center;
    }

    .reviews-table-li {
        grid-column: 3/4;
        grid-row: 2/4;
    }

    .upgrades-table {
        grid-column: 1/3;
        grid-row: 1/2;
        text-align: center;
    }

    .upgrades1 {
        grid-column: 1/2;
        grid-row: 2/3;
        text-align: center;
    }

    .upgrades2 {
        grid-column: 2/3;
        grid-row: 2/3;
        text-align: center;
    }

    .upgrades3 {
        grid-column: 1/2;
        grid-row: 3/4;
        text-align: center;
    }

    .upgrades4 {
        grid-column: 2/3;
        grid-row: 3/4;
        text-align: center;
    }
    
    /* .upgrades {
        display: block;
        text-align: center;
    } */
}